$tablet-width: 660px;
$desktop-width: 1080px;
$background: #d7e0ff;

// Palette: https://colors.muz.li/palette/343090/5f59f7/6592fd/44c2fd/8c61ff

@mixin mobile {
    @media (min-width: 0px) and (max-width: #{$tablet-width}) {@content;}
}

@mixin tablet {
    @media (min-width: $tablet-width) and (max-width: #{$desktop-width}) {@content;}
}
  
@mixin desktop {
    @media (min-width: #{$desktop-width + 1px}) {@content;}
}

@mixin HtmlDesktop {
    background-color: $background;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}

@mixin App($marginLeft, $marginRight) {
    margin-left: $marginLeft;
    margin-right: $marginRight;
}

@include mobile {
    html {@include HtmlDesktop}
    .App {@include App(0px, 20px)};
}

@include tablet {
    html {@include HtmlDesktop}
    .App {@include App(8%, 8%)};
}

@include desktop {
    html {@include HtmlDesktop}
    .App {@include App(20%, 30%)};
}